<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/enno_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Enno"
        tools:targetApi="33" >
        <activity
            android:name=".ChatRequestList"
            android:exported="false" />
        <activity
            android:name=".Games"
            android:exported="false" />
        <activity
            android:name=".ressources.Recharge"
            android:exported="false" />
        <activity
            android:name=".ressources.CommentOpened"
            android:exported="false" />
        <activity
            android:name=".ChatCreation"
            android:exported="false" />

        <service
            android:name=".ressources.IncomeMessageService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PostCreation"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>